In [122]:
import os
import numpy as np
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_datasets as tfds
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
import pandas as pd
from tensorflow import keras
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import normalize
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.models import Model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [110]:
df = pd.read_csv('./dataset/datase_size_pred.csv')

In [111]:
df.head(10)

,Age,ShoulderWidth,ShoulderWidth.1,ChestWidth,Waist,Hips,TotalHeight,Size
0,30,18,18,20,14,22,52,M
1,28,22,22,17,21,25,56,S
2,27,18,18,16,10,15,53,S
3,29,20,20,18,19,14,45,S
4,28,14,14,18,11,30,47,S
5,22,19,19,18,16,18,60,S
6,18,17,17,16,12,28,49,S
7,26,15,15,19,23,27,58,S
8,23,16,16,20,22,18,40,M
9,31,20,20,28,91,17,55,L

In [112]:
df = df.drop('ShoulderWidth.1', axis=1)

In [113]:
df.head(10)

   Age  ShoulderWidth  ChestWidth  Waist  Hips  TotalHeight Size
0   30             18          20     14    22           52    M
1   28             22          17     21    25           56    S
2   27             18          16     10    15           53    S
3   29             20          18     19    14           45    S
4   28             14          18     11    30           47    S
5   22             19          18     16    18           60    S
6   18             17          16     12    28           49    S
7   26             15          19     23    27           58    S
8   23             16          20     22    18           40    M
9   31             20          28     91    17           55    L

In [114]:
def normalize_data(data):
    if pd.notnull(data):
        # data = data.replace(' ', '')  # Remove whitespace from the string
        return round((float(data) * 2.54), 2)
    return None

df["TotalHeight"] = df["TotalHeight"].apply(normalize_data)
df['ShoulderWidth'] = df['ShoulderWidth'].apply(normalize_data)
df['ChestWidth'] = df['ChestWidth'].apply(normalize_data)
df['Waist'] = df['Waist'].apply(normalize_data)
df['Hips'] = df['Hips'].apply(normalize_data)

In [116]:
df.tail(10)

     Age  ShoulderWidth  ChestWidth  Waist   Hips  TotalHeight Size
706    5          38.10       27.94  58.42  58.42       109.22    S
707   13          20.32       30.48  35.56  73.66        58.42    S
708    2          38.10       20.32  48.26  50.80        81.28    S
709   10          30.48       30.48  35.56  73.66        58.42    S
710   10          30.48       30.48  60.96  66.04       114.30    S
711   13          15.24       35.56  45.72  76.20       149.86    S
712   10          27.94       30.48   5.08  66.04       114.30    S
713    4          43.18       27.94  55.88  55.88       101.60    S
714   13          38.10       35.56  45.72  76.20       149.86    S
715    4          38.10       25.40  50.80  53.34        93.98    S

In [117]:
df.corr()

C:\Users\windows 11\AppData\Local\Temp\ipykernel_5660\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Age,ShoulderWidth,ChestWidth,Waist,Hips,TotalHeight
Age,1.000000,0.493937,0.290550,0.413718,0.417335,0.507040
ShoulderWidth,0.493937,1.000000,0.368678,0.258733,0.291569,0.436354
ChestWidth,0.290550,0.368678,1.000000,0.303096,0.394100,0.464628
Waist,0.413718,0.258733,0.303096,1.000000,0.696478,0.409002
Hips,0.417335,0.291569,0.394100,0.696478,1.000000,0.430524
TotalHeight,0.507040,0.436354,0.464628,0.409002,0.430524,1.000000

In [118]:
df.columns

Index(['Age', 'ShoulderWidth', 'ChestWidth', 'Waist', 'Hips', 'TotalHeight',
       'Size'],
      dtype='object')

In [146]:
x = df[['Age', 'ShoulderWidth', 'Hips', 'TotalHeight']]
y = df['Size']
print('x.shape', x.shape)
# print('y.shape', y.shape)

x.shape (716, 4)

In [147]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2, random_state=36)

In [126]:
print(x_train.shape)
print(y_train.shape)

(572, 4)
(572,)

## Preprocess Data

In [271]:
df = pd.read_csv('./dataset/dataset_size.csv')

In [272]:
df.head(10)

   Age  ShoulderWidth  ChestWidth  Waist  Hips  TotalHeight Size
0   30             18          20     14    22           52    M
1   28             22          17     21    25           56    S
2   27             18          16     10    15           53    S
3   29             20          18     19    14           45    S
4   28             14          18     11    30           47    S
5   22             19          18     16    18           60    S
6   18             17          16     12    28           49    S
7   26             15          19     23    27           58    S
8   23             16          20     22    18           40    M
9   31             20          28     91    17           55    L

In [273]:
def normalize_data(data):
    if pd.notnull(data):
        # data = data.replace(' ', '')  # Remove whitespace from the string
        return round((float(data) * 2.54), 2)
    return None

df["TotalHeight"] = df["TotalHeight"].apply(normalize_data)
df['ShoulderWidth'] = df['ShoulderWidth'].apply(normalize_data)
df['ChestWidth'] = df['ChestWidth'].apply(normalize_data)
df['Waist'] = df['Waist'].apply(normalize_data)
df['Hips'] = df['Hips'].apply(normalize_data)

In [274]:
missing_values = df.isnull().sum()
print(missing_values)

Age              0
ShoulderWidth    0
ChestWidth       0
Waist            0
Hips             0
TotalHeight      0
Size             0
dtype: int64

In [278]:
df = df.drop('ChestWidth', axis=1)

In [279]:
df.head(10)

   Age  ShoulderWidth   Waist   Hips  TotalHeight Size
0   30          45.72   35.56  55.88       132.08    M
1   28          55.88   53.34  63.50       142.24    S
2   27          45.72   25.40  38.10       134.62    S
3   29          50.80   48.26  35.56       114.30    S
4   28          35.56   27.94  76.20       119.38    S
5   22          48.26   40.64  45.72       152.40    S
6   18          43.18   30.48  71.12       124.46    S
7   26          38.10   58.42  68.58       147.32    S
8   23          40.64   55.88  45.72       101.60    M
9   31          50.80  231.14  43.18       139.70    L

In [283]:
df.to_csv("./dataset/normalized_dataset.csv", index=False)

In [284]:
dataframe = pd.read_csv('./dataset/normalized_dataset.csv', skiprows=1)
dataset = dataframe.values

In [323]:
X = dataset[:,:-1].astype(float)
Y = dataset[:,-1]

In [324]:
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)

## Model TF

In [356]:
df = pd.read_csv('./dataset/normalized_dataset.csv')

In [357]:
input_data = df[['Age', 'ShoulderWidth', 'Hips', 'TotalHeight']].values
output_data = df['Size'].values

In [358]:
label_encoder = LabelEncoder()
output_data = label_encoder.fit_transform(output_data)

In [359]:
scaler = StandardScaler()
input_data = scaler.fit_transform(input_data)

In [360]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.25, random_state=42)

In [361]:
def create_model(dim,nc):
    model = Sequential()
    model.add(Dense(64, activation='relu', input_shape=(dim,)))
    model.add(Dense(128, activation='relu'))
    model.add(Dense(64, activation='relu'))
    model.add(Dense(32, activation='relu'))
    model.add(Dense(nc, activation='softmax'))
    optimizer = keras.optimizers.Adam(learning_rate=0.01)
    model.compile(optimizer=optimizer, loss='sparse_categorical_crossentropy', metrics=['accuracy'])
    return model

In [365]:
model = create_model(4,len(label_encoder.classes_))

In [366]:
model.fit(x_train, y_train, epochs=20, batch_size=32)

Epoch 1/20
17/17 [==============================] - 1s 3ms/step - loss: 0.6289 - accuracy: 0.8212
Epoch 2/20
17/17 [==============================] - 0s 3ms/step - loss: 0.3906 - accuracy: 0.8492
Epoch 3/20
17/17 [==============================] - 0s 3ms/step - loss: 0.3667 - accuracy: 0.8715
Epoch 4/20
17/17 [==============================] - 0s 2ms/step - loss: 0.3424 - accuracy: 0.8752
Epoch 5/20
17/17 [==============================] - 0s 3ms/step - loss: 0.3397 - accuracy: 0.8696
Epoch 6/20
17/17 [==============================] - 0s 2ms/step - loss: 0.3507 - accuracy: 0.8585
Epoch 7/20
17/17 [==============================] - 0s 3ms/step - loss: 0.3878 - accuracy: 0.8622
Epoch 8/20
17/17 [==============================] - 0s 2ms/step - loss: 0.3353 - accuracy: 0.8678
Epoch 9/20
17/17 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8696
Epoch 10/20
17/17 [==============================] - 0s 2ms/step - loss: 0.3240 - accuracy: 0.8771
Epoch 11/20
17/17 [==============================] - 0s 5ms/step - loss: 0.3319 - accuracy: 0.8734
Epoch 12/20
17/17 [==============================] - 0s 3ms/step - loss: 0.3294 - accuracy: 0.8771
Epoch 13/20
17/17 [==============================] - 0s 3ms/step - loss: 0.3315 - accuracy: 0.8771
Epoch 14/20
17/17 [==============================] - 0s 2ms/step - loss: 0.3185 - accuracy: 0.8734
Epoch 15/20
17/17 [==============================] - 0s 2ms/step - loss: 0.3243 - accuracy: 0.8734
Epoch 16/20
17/17 [==============================] - 0s 2ms/step - loss: 0.3165 - accuracy: 0.8715
Epoch 17/20
17/17 [==============================] - 0s 2ms/step - loss: 0.3063 - accuracy: 0.8808
Epoch 18/20
17/17 [==============================] - 0s 3ms/step - loss: 0.3083 - accuracy: 0.8827
Epoch 19/20
17/17 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8678
Epoch 20/20
17/17 [==============================] - 0s 2ms/step - loss: 0.3224 - accuracy: 0.8603

In [368]:
loss, accuracy = model.evaluate(x_test, y_test)

6/6 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8939

In [371]:
pred = model.predict(x_test)
predicted_labels = np.argmax(pred, axis=1)
predicted_sizes = label_encoder.inverse_transform(predicted_labels)

6/6 [==============================] - 0s 4ms/step

In [382]:
def convert_tflite(model):
    convert = tf.lite.TFLiteConverter.from_keras_model(model)
    tflite_model = convert.convert()
    model_path = './model/model.tflite'
    with open(model_path, 'wb') as f:
        f.write(tflite_model)
    return ("Success save model")

In [383]:
convert_tflite(model)

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: C:\Users\WINDOW~1\AppData\Local\Temp\tmp4mi2jdko\assets

INFO:tensorflow:Assets written to: C:\Users\WINDOW~1\AppData\Local\Temp\tmp4mi2jdko\assets

'Success save model'